{% extends 'base.html' %}

{% block title %} | Dashboard {% endblock %}

{% block content %}
<section id="dashboard" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3>Hey, {{user.first_name}}</h3>
              {% if inquiries %}
              <p>Here are the property listings that you have inquired about</p>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Property</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for inquiry in inquiries%}
                      <tr>
                        <td>{{inquiry.id}}</td>
                        <td>{{inquiry.listing}}</td>
                        <td>
                          <a class="btn btn-light" href="{% url 'listing' inquiry.listing_id %}">View Listing</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                  <p>You have not made any inquiry yet</p>
                {% endif %}
            </div>
          </div>
        </div>
      </section>

{% endblock %}